/* Set all margin and padding to 0 initially */
* {
  margin: 0;
  padding: 0;
}

/* Some of our variables */
:root {
  --bg-color: #0f0f0f;
  --pg-color: #1d1d1d;
  --header-color: #fff;
  --text-color: #bfbfbf;
  --links-color: #4b71bd;
  --form-accent: #664980;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Set some defaults for our body */
body {
  /* "Roboto", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  animation-name: fade;
  animation-duration: 0.8s;
  background-color: var(--bg-color);
  color: var(--header-color);
}

/* Set defaults for our main site container div */
#container {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 30px 30px 30px;
}

/* Change settings for our header */
#container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#img-home {
  display: contents;
}

#pfp {
  border-radius: 50%;
  width: 130px;
}

/* Change setting for info div */
#info {
  margin-top: 15px;
  text-align: center;
}

.paragraph {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--pg-color);
  border-radius: 10px;
}

#info h1 {
  font-size: 40px;
}

#subtitle {
  margin-top: 7px;
  font-size: 15px;
  color: var(--text-color);
}

#links {
  margin-top: 10px;
  padding-left: 0px;
  font-size: 15px;
  list-style: none;
}

#links li {
  display: inline-block;
  margin-right: 10px;
}

#links a {
  text-decoration: none;
  padding-bottom: 3px;
  color: var(--links-color);
}

/*
  Code was from https://codepen.io/martinwolf/pen/eNNdme 
  Changed a bit to work specifically for my site
*/

#links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--links-color);
  transition: width 0.2s;
}

#links a:hover::after {
  width: 100%;
}

.header {
  font-size: 28px;
  text-align: center;
}

.desc {
  margin-top: 10px;
  margin-left: 5px;
  color: var(--text-color);
  line-height: 150%;
  font-size: 15px;
}

.item-desc {
  margin-top: 3px;
  margin-left: 5px;
  color: var(--text-color);
  line-height: 150%;
  font-size: 15px;
}

hr {
  margin: 30px auto 0px auto;
}

#contact {
  background-color: var(--form-accent);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: var(--header-color);
}

/* In case I wanna do something with mobile displays

@media screen and (min-width: 550px) {

}

*/

/* Some settings for displays that's a bit over most mobile displays */
@media screen and (min-width: 768px) {
  #container header {
    flex-direction: row;
  }

  #subtitle {
    margin-top: 7px;
    font-size: 16px;
  }

  #links {
    font-size: 16px;
  }

  .header {
    text-align: left;
  }

  #info {
    text-align: left;
    margin-top: 0px;
    margin-left: 25px;
  }

  .desc {
    margin-left: 0px;
    font-size: 17px;
  }

  .item-desc {
    margin-left: 0px;
    font-size: 17px;
  }

  #contact a {
    margin-left: 0px;
  }
}
